.contact-page {
  padding: 10rem 0;
  background-color: #4831d4;
  color: #ccf381;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-wrapper {
  text-align: center;
  width: 600px;
  animation: slideInFromBottom 0.2s ease-in-out;
}

.contact-page-wrapper h2 {
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

.contact-page-wrapper p {
  line-height: 1.8;
  margin-bottom: 3rem;
}

.form-group {
  margin-bottom: 2rem;
  width: 100%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 1.2rem 1.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: white;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #ccf381;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-page button[type="submit"] {
  background-color: #ccf381;
  color: #311b92;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-page button[type="submit"]:hover {
  background-color: #c0ed61;
}
