.portfolio-page {
  padding: 3rem 0;
  background-color: #4831d4;
  color: #ccf381;
}

.portfolio-page-wrapper {
  text-align: center;
}

.portfolio-page-wrapper h2 {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-intro {
  flex: 1;
  text-align: left;
  max-width: 45%;
}

.portfolio-git {
  margin-top: 5rem;
}
.portfolio-intro a {
  font-size: 2.5rem;
  color: #c0ed61;
}

.portfolio-intro a:hover {
  color: white;
}
.portfolio-images {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 45%;
}

.image-frame {
  width: 510px;
  height: 250px;
  border: 4px solid #ccf381;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 5rem;
}

.portfolio-intro {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.portfolio-images {
  animation: slideInFromRight 0.5s ease-in-out;
}

.pr1 {
  animation: slideInFromLeft 0.5s ease-in-out;
}
.pr2 {
  animation: slideInFromRight 0.5s ease-in-out;
}
.project {
  background-color: #311b92;
  border-radius: 10px;
  padding: 2rem;
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.project h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.project p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.view-case-study {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ccf381;
  color: #311b92;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.view-case-study:hover {
  background-color: #c0ed61;
}

@media (max-width: 767.98px) {
  .portfolio-content {
    flex-direction: column;
  }
  .portfolio-intro {
    max-width: 80%;
  }

  .portfolio-images {
    max-width: 80%;
  }
  .portfolio-git {
    margin-top: 1rem;
    margin-bottom: 5rem;
  }
}
