html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: #4831d4;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.7rem;
}

.container {
  margin-left: 20rem;
  margin-right: 20rem;
}

/* header */

header {
  background-color: #311b92;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
}

.logo img {
  width: 20rem;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero ul {
  display: flex;
}

.hero li {
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
  background-color: black;
  padding: 0.9rem;
  border-radius: 0.3rem;
  font-size: 1.7rem;
}

.hero a:hover {
  color: #ccf381;
}

.bars {
  color: black;
  display: none;
}

/* main */

main {
  margin-top: 9rem;
  color: #ccf381;
}

.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.about p {
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: white;
  line-height: 2rem;
}

.about h4 {
  margin-bottom: 1rem;
}
.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pics {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 50%;
}
main img {
  width: 30rem;
  border-radius: 10%;
}

.about-button {
  display: flex;
  justify-content: space-evenly;
}
.about-button .cv,
.about-button .contact {
  margin-top: 2rem;
  border: 0px solid #ccf381;
  background-color: #ccf381;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-right: 1rem;
}

.cv:hover,
.contact:hover {
  background-color: black;
  border-color: black;
  color: #ccf381;
}

/* stack */

.stack {
  margin-top: 2rem;
  font-size: 4rem;
  text-align: center;
}

.stack h4 {
  color: #ccf381;
}

.stack-wrapper {
  margin-top: 2rem;
}

.stack-wrapper img {
  transition: transform 0.3s ease;
  margin-left: 1rem;
  margin-right: 1rem;
}
.stack-wrapper img:hover {
  transform: rotate(360deg);
}

/* about-me */

.about-me {
  margin-top: 10rem;
  margin-bottom: 10rem;
  color: #ccf381;
}

.about-me-wrapper {
  display: flex;
  justify-content: space-between;
}

.photo img {
  width: 50rem;
}

.me {
  display: flex;
  flex: 1 0 40%;
  margin-right: 1rem;
}
.me h4 {
  margin-bottom: 3rem;
  border-bottom: 1px solid #ccf381;
  width: 24%;
}

.education {
  margin-top: 1rem;
  margin-left: 3rem;
}
.education h4 {
  border-bottom: 1px solid #ccf381;
  width: 15%;
}
.education-location {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.education-location i {
  font-size: 2rem;
  margin-right: 1rem;
}
.education-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dekor-balon {
  position: absolute;
  top: 100rem;
  right: 0;
}

.school {
  align-items: center;
  margin-bottom: 3rem;
}

.school h5 {
  margin-right: 1rem;
}

.location i {
  margin-right: 0.7rem;
}

/* footer */

footer {
  background-color: #311b92;
  padding: 3rem 0;
  margin-top: 10rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: white;
  margin-bottom: 2rem;
}
.social a {
  color: white;
  font-size: 2.5rem;
  margin: 0 1rem;
}

.social a:hover {
  color: #ccf381;
}

/* responsive */

@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .container {
    margin-left: 15rem;
    margin-right: 15rem;
  }
  main img {
    width: 25rem;
  }
}

@media (max-width: 991.98px) {
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (max-width: 767.98px) {
  .container {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  main {
    margin-top: 10rem;
  }
  .pics {
    margin-top: 10rem;
    margin-bottom: 2rem;
    width: 35rem;
    justify-content: center;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about-wrapper .decor {
    display: none;
  }

  .decor-star {
    display: none;
    color: #ccf381;
  }

  .hero {
    display: none;
  }

  .bars {
    display: block;
  }

  .about-me-wrapper {
    display: flex;
    flex-direction: column;
  }
  .education {
    margin-left: 0rem;
  }
}
@media (max-width: 575.98px) {
  .container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
